
.manage-widget-privacy-content {
    width: 100%;

    span {
        display: inline-block;
        height: .5rem;
    }
}

.manage-widget-privacy-content-item {
    width: 100%;
    display: flex;
    right: 0;

    span {
        width: 15px;
    }
}